---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?exclude_archived=1&pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - fb659319-6b8e-45ae-bb7f-5e1b3193d742
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "C56DR4RLG",
                    "name": "ada-announcements",
                    "is_channel": true,
                    "created": 1493673463,
                    "creator": "U57TWQL07",
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "name_normalized": "ada-announcements",
                    "is_shared": false,
                    "is_org_shared": false,
                    "is_member": true,
                    "is_private": false,
                    "is_mpim": false,
                    "members": [
                        "U56E32J4Q",
                        "U56E6REHW",
                        "U56ER434G",
                        "U56GPUX17",
                        "U56H0ALFK",
                        "U56HFGLSD",
                        "U56HK6A3T",
                        "U56HUAFFT",
                        "U56LG0KRP",
                        "U56PB69RP",
                        "U56SG5T96",
                        "U571QM135",
                        "U571W581Z",
                [...]
